body {
    font-family: $raleway, $open-sans;
}

h1, h2, h3, h4, h5, h6, p {
    color: $raising-black
}

@keyframes aparecer {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 0;
    }
    90% {
      opacity: 1;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes rotar {
    from {
    }
    to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    }
  }