.m__boton, .navbar .navbar__botones .navbar__boton--active, .navbar .navbar__botones .navbar__boton {
  border: none;
  padding: 0.25rem 1rem;
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
}

body {
  font-family: "Raleway", sans-serif, "Open Sans", sans-serif;
}

h1, h2, h3, h4, h5, h6, p {
  color: #221d23;
}

body {
  margin: 0;
  padding: 0;
}

h1 {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 3.125rem;
}

h2 {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 2.5rem;
}

h3 {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 1.875rem;
}

p {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 1rem;
}

.navbar {
  display: flex;
  padding: 2% 10%;
  color: #221d23;
  font-family: "Open Sans", sans-serif;
}
.navbar__svg {
  padding-right: 0.5rem;
}
.navbar__textos {
  display: flex;
  list-style: none;
  text-decoration: none;
  padding-inline-start: 0;
}
.navbar__link {
  color: #333745;
  padding: 1rem 1rem;
  text-decoration: none;
}
.navbar__link-toggle {
  display: none;
}
.navbar__botones {
  margin-left: auto;
}
@media (max-width: 768px) {
  .navbar .navbar .navbar__items {
    flex-direction: column;
  }
  .navbar__item {
    display: none;
  }
  .navbar__botones {
    margin-left: 0;
  }
  .navbar .navbar__toggleshow {
    display: flex;
  }
  .navbar__link-toggle {
    right: 10%;
    align-self: flex-start;
    display: flex;
    position: absolute;
    cursor: pointer;
    justify-content: space-around;
  }
}

.main .container--colums {
  padding: 2% 10%;
  display: grid;
  grid-template-columns: 2.5fr 2fr 2fr;
  grid-template-rows: 0.5fr 0.5fr;
  grid-gap: 1rem;
}
.main__title {
  margin: 4rem 0 0 1rem;
}
.main__text {
  line-height: 1.8rem;
}

/* Grid */
/* Container */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/* Row */
.row {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: 1rem;
  grid-row-gap: 3rem;
}

@media (min-width: 1200px) {
  .row {
    grid-column-gap: 4rem;
  }
}
/* Columns */
.col-xs-12 {
  grid-column: span 12;
}

.col-xs-11 {
  grid-column: span 11;
}

.col-xs-10 {
  grid-column: span 10;
}

.col-xs-9 {
  grid-column: span 9;
}

.col-xs-8 {
  grid-column: span 8;
}

.col-xs-7 {
  grid-column: span 7;
}

.col-xs-6 {
  grid-column: span 6;
}

.col-xs-5 {
  grid-column: span 5;
}

.col-xs-4 {
  grid-column: span 4;
}

.col-xs-3 {
  grid-column: span 3;
}

.col-xs-2 {
  grid-column: span 2;
}

.col-xs-1 {
  grid-column: span 1;
}

@media (min-width: 768px) {
  .col-sm-12 {
    grid-column: span 12;
  }

  .col-sm-11 {
    grid-column: span 11;
  }

  .col-sm-10 {
    grid-column: span 10;
  }

  .col-sm-9 {
    grid-column: span 9;
  }

  .col-sm-8 {
    grid-column: span 8;
  }

  .col-sm-7 {
    grid-column: span 7;
  }

  .col-sm-6 {
    grid-column: span 6;
  }

  .col-sm-5 {
    grid-column: span 5;
  }

  .col-sm-4 {
    grid-column: span 4;
  }

  .col-sm-3 {
    grid-column: span 3;
  }

  .col-sm-2 {
    grid-column: span 2;
  }

  .col-sm-1 {
    grid-column: span 1;
  }
}
@media (min-width: 992px) {
  .col-md-12 {
    grid-column: span 12;
  }

  .col-md-11 {
    grid-column: span 11;
  }

  .col-md-10 {
    grid-column: span 10;
  }

  .col-md-9 {
    grid-column: span 9;
  }

  .col-md-8 {
    grid-column: span 8;
  }

  .col-md-7 {
    grid-column: span 7;
  }

  .col-md-6 {
    grid-column: span 6;
  }

  .col-md-5 {
    grid-column: span 5;
  }

  .col-md-4 {
    grid-column: span 4;
  }

  .col-md-3 {
    grid-column: span 3;
  }

  .col-md-2 {
    grid-column: span 2;
  }

  .col-md-1 {
    grid-column: span 1;
  }
}
@media (min-width: 1200px) {
  .col-lg-12 {
    grid-column: span 12;
  }

  .col-lg-11 {
    grid-column: span 11;
  }

  .col-lg-10 {
    grid-column: span 10;
  }

  .col-lg-9 {
    grid-column: span 9;
  }

  .col-lg-8 {
    grid-column: span 8;
  }

  .col-lg-7 {
    grid-column: span 7;
  }

  .col-lg-6 {
    grid-column: span 6;
  }

  .col-lg-5 {
    grid-column: span 5;
  }

  .col-lg-4 {
    grid-column: span 4;
  }

  .col-lg-3 {
    grid-column: span 3;
  }

  .col-lg-2 {
    grid-column: span 2;
  }

  .col-lg-1 {
    grid-column: span 1;
  }
}
.footer {
  display: flex;
  padding: 2rem 8rem;
  background-color: #221d23;
  color: #221d23;
  font-family: "Open Sans", sans-serif;
}
@media (max-width: 768px) {
  .footer {
    display: block;
    padding: 2rem 2rem;
    font-size: 0.75rem;
    text-align: center;
  }
}
.footer__menu {
  display: flex;
  list-style: none;
  text-decoration: none;
  padding-inline-start: 0;
}
.footer__link {
  color: #726f73;
  padding: 1rem 1rem;
  text-decoration: none;
}
.footer__link:hover {
  color: #fff;
}
.footer__copyright {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: auto;
}

.caracteristicas .container--colums {
  padding: 2% 10%;
  display: grid;
  grid-template-columns: 2fr 2fr;
  grid-gap: 1.5rem;
  text-align: center;
}

.precios__container--grid {
  display: grid;
}
.precios__row {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  margin: 2rem auto;
  padding: 0.125rem;
  width: 45%;
}
.precios__title {
  margin-top: 0;
}
.precios__card--1 {
  width: 70%;
  margin: 2% auto;
  padding: 15% 8%;
  border: 1px solid #bababa;
}
.precios__title {
  text-align: center;
}

.navbar .navbar__botones .navbar__boton {
  color: #221d23;
  background-color: #fff;
  margin-right: 1rem;
}
.navbar .navbar__botones .navbar__boton:hover {
  color: #fff;
  background-color: #77d1dd;
}
.navbar .navbar__botones .navbar__boton--active {
  color: #fff;
  font-size: 1rem;
  background-color: #2ab7ca;
}
.navbar .navbar__botones .navbar__boton--active:hover {
  color: #fff;
  background-color: #77d1dd;
}
@media (max-width: 768px) {
  .navbar .navbar__botones {
    display: none;
  }
}

/*# sourceMappingURL=main.css.map */
