.m__boton, .navbar .navbar__botones .navbar__boton--active, .navbar .navbar__botones .navbar__boton {
  border: none;
  padding: 0.25rem 1rem;
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
}

body {
  font-family: "Raleway", sans-serif, "Open Sans", sans-serif;
}

h1, h2, h3, h4, h5, h6, p {
  color: #221d23;
}

@keyframes aparecer {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
@keyframes rotar {
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
body {
  margin: 0;
  padding: 0;
}

h1 {
  margin: 1rem 0;
}

h4 {
  margin: 0.25rem 0;
}

h1 {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 3.125rem;
}

h2 {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 2.5rem;
}

h3 {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 1.875rem;
}

p {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 1rem;
}

.navbar {
  display: flex;
  padding: 2% 10%;
  color: #221d23;
  font-family: "Open Sans", sans-serif;
}
.navbar__svg {
  padding-right: 0.5rem;
}
.navbar__textos {
  display: flex;
  list-style: none;
  text-decoration: none;
  padding-inline-start: 0;
}
.navbar__link {
  color: #333745;
  padding: 1rem 1rem;
  text-decoration: none;
}
.navbar__link:hover {
  color: #aeacaf;
}
@media (max-width: 768px) {
  .navbar__link .navbar .navbar__items {
    flex-direction: column;
  }
}
.navbar__link-toggle {
  display: none;
}
.navbar__botones {
  margin-left: auto;
}
@media (max-width: 768px) {
  .navbar .navbar .navbar__items {
    flex-direction: column;
  }
  .navbar__item {
    display: none;
  }
  .navbar__botones {
    margin-left: 0;
  }
  .navbar .navbar__toggleshow {
    display: flex;
  }
  .navbar__link-toggle {
    right: 10%;
    align-self: flex-start;
    display: flex;
    position: absolute;
    cursor: pointer;
    justify-content: space-around;
  }
}

.main .container {
  padding: 2% 10%;
  margin-bottom: 10rem;
  text-align: left;
  width: 30%;
  position: absolute;
  z-index: 1;
}
.main__title {
  margin-top: 4rem;
}
@media (max-width: 768px) {
  .main__title {
    width: 20rem;
    margin-top: 2rem;
    font-size: 2rem;
  }
}
.main__text {
  padding-right: 2rem;
  line-height: 1.8rem;
}
@media (max-width: 768px) {
  .main__text {
    width: 260%;
    padding-right: 1rem;
  }
}
.main object {
  float: right;
  width: 100vw;
  position: relative;
}
@media (max-width: 768px) {
  .main object {
    float: right;
    width: 150vw;
    margin-top: 100%;
  }
}

/* Grid */
/* Container */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/* Row */
.row {
  margin: 3rem 0;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: 2rem;
  grid-row-gap: 3rem;
  justify-content: center;
}

@media (min-width: 1200px) {
  .row {
    grid-column-gap: 8rem;
  }
}
/* Columns */
.col-xs-12 {
  grid-column: span 12;
}

.col-xs-11 {
  grid-column: span 11;
}

.col-xs-10 {
  grid-column: span 10;
}

.col-xs-9 {
  grid-column: span 9;
}

.col-xs-8 {
  grid-column: span 8;
}

.col-xs-7 {
  grid-column: span 7;
}

.col-xs-6 {
  grid-column: span 6;
}

.col-xs-5 {
  grid-column: span 5;
}

.col-xs-4 {
  grid-column: span 4;
}

.col-xs-3 {
  grid-column: span 3;
}

.col-xs-2 {
  grid-column: span 2;
}

.col-xs-1 {
  grid-column: span 1;
}

@media (min-width: 768px) {
  .col-sm-12 {
    grid-column: span 12;
  }

  .col-sm-11 {
    grid-column: span 11;
  }

  .col-sm-10 {
    grid-column: span 10;
  }

  .col-sm-9 {
    grid-column: span 9;
  }

  .col-sm-8 {
    grid-column: span 8;
  }

  .col-sm-7 {
    grid-column: span 7;
  }

  .col-sm-6 {
    grid-column: span 6;
  }

  .col-sm-5 {
    grid-column: span 5;
  }

  .col-sm-4 {
    grid-column: span 4;
  }

  .col-sm-3 {
    grid-column: span 3;
  }

  .col-sm-2 {
    grid-column: span 2;
  }

  .col-sm-1 {
    grid-column: span 1;
  }
}
@media (min-width: 992px) {
  .col-md-12 {
    grid-column: span 12;
  }

  .col-md-11 {
    grid-column: span 11;
  }

  .col-md-10 {
    grid-column: span 10;
  }

  .col-md-9 {
    grid-column: span 9;
  }

  .col-md-8 {
    grid-column: span 8;
  }

  .col-md-7 {
    grid-column: span 7;
  }

  .col-md-6 {
    grid-column: span 6;
  }

  .col-md-5 {
    grid-column: span 5;
  }

  .col-md-4 {
    grid-column: span 4;
  }

  .col-md-3 {
    grid-column: span 3;
  }

  .col-md-2 {
    grid-column: span 2;
  }

  .col-md-1 {
    grid-column: span 1;
  }
}
@media (min-width: 1200px) {
  .col-lg-12 {
    grid-column: span 12;
  }

  .col-lg-11 {
    grid-column: span 11;
  }

  .col-lg-10 {
    grid-column: span 10;
  }

  .col-lg-9 {
    grid-column: span 9;
  }

  .col-lg-8 {
    grid-column: span 8;
  }

  .col-lg-7 {
    grid-column: span 7;
  }

  .col-lg-6 {
    grid-column: span 6;
  }

  .col-lg-5 {
    grid-column: span 5;
  }

  .col-lg-4 {
    grid-column: span 4;
  }

  .col-lg-3 {
    grid-column: span 3;
  }

  .col-lg-2 {
    grid-column: span 2;
  }

  .col-lg-1 {
    grid-column: span 1;
  }
}
.footer {
  display: flex;
  padding: 2rem 8rem;
  background-color: #221d23;
  color: #221d23;
  font-family: "Open Sans", sans-serif;
}
@media (max-width: 768px) {
  .footer {
    display: block;
    padding: 2rem 2rem;
    font-size: 0.75rem;
    text-align: center;
  }
}
.footer__menu {
  display: flex;
  list-style: none;
  text-decoration: none;
  padding-inline-start: 0;
}
@media (max-width: 768px) {
  .footer__menu {
    justify-content: center;
  }
}
.footer__link {
  color: #726f73;
  padding: 1rem 1rem;
  text-decoration: none;
}
.footer__link:hover {
  color: #fff;
}
.footer__copyright {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: auto;
}

.caracteristicas {
  margin-top: 40em;
}
.caracteristicas .container {
  padding: 0 10%;
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}
@media (max-width: 768px) {
  .caracteristicas .container {
    display: block;
  }
}
.caracteristicas .row {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
}
@media (max-width: 768px) {
  .caracteristicas .row {
    display: block;
  }
}
.caracteristicas__grafico {
  margin-top: 3.1rem;
  margin-left: 14%;
}
@media (max-width: 768px) {
  .caracteristicas__grafico {
    margin-left: 3%;
  }
}
.caracteristicas__box {
  width: 70%;
  padding: 0 3rem;
}
.caracteristicas__title {
  margin-bottom: 0;
  text-align: center;
}
.caracteristicas__text {
  line-height: 1.8rem;
}
.caracteristicas figure {
  animation: aparecer 5s;
  animation-delay: 2s;
  animation-timing-function: ease-in;
}

.rotate {
  animation: rotar 4s;
  animation-timing-function: ease-in;
}

.precios {
  margin-top: 1rem;
  background-image: url(../img/bg-price.svg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 15rem 0 3rem 0;
  /*&__card--item {
      width: 60%;
      margin: 2% auto;
      padding: 15% 8%;
      border: 1px solid $gray;
  }*/
}
.precios__row {
  margin-left: 15rem;
}
@media (max-width: 768px) {
  .precios__row {
    margin: 1rem 20%;
    display: block;
  }
}
.precios__title {
  margin: 1rem 0;
  color: white;
  text-align: center;
}
.precios__card--item {
  width: 90%;
  height: 70%;
  margin: 2% auto;
  padding: 3rem;
  border: 1px solid #bababa;
  background-color: #fff;
}
@media (max-width: 768px) {
  .precios__card--item {
    display: block;
  }
}
.precios__card--item2 {
  width: 90%;
  height: 70%;
  margin: 2% auto;
  padding: 3rem 2rem;
  border: 1px solid #bababa;
  background-color: #fff;
}
@media (max-width: 768px) {
  .precios__card--item2 {
    display: block;
  }
}
.precios__card--title {
  margin: 1.5rem 0;
}
.precios__bullets {
  padding-inline-start: 1rem;
}
.precios__bullets--text {
  line-height: 1.8rem;
}

.navbar .navbar__botones .navbar__boton {
  color: #221d23;
  background-color: #fff;
  margin-right: 1rem;
}
.navbar .navbar__botones .navbar__boton:hover {
  color: #fff;
  background-color: #77d1dd;
}
.navbar .navbar__botones .navbar__boton--active {
  color: #fff;
  font-size: 1rem;
  background-color: #2ab7ca;
}
.navbar .navbar__botones .navbar__boton--active:hover {
  color: #fff;
  background-color: #77d1dd;
}
@media (max-width: 768px) {
  .navbar .navbar__botones {
    display: none;
  }
}

.precios__boton {
  border: none;
  width: 100%;
  margin: 1rem 0;
  padding: 1rem 0;
  bottom: 0;
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  color: #fff;
  background-color: #2ab7ca;
}
.precios__boton:hover {
  color: #fff;
  background-color: #77d1dd;
}

/*# sourceMappingURL=main.css.map */
