.main {

    .container {
        padding: 2% 10%;
        margin-bottom: 10rem;
        text-align: left;
        width: 30%;
        position: absolute;
        z-index: 1;
    }

    &__title {
        margin-top: 4rem;

        @media (max-width: 768px) {
            width: 20rem;
            margin-top: 2rem;
            font-size: 2rem;
        }
    }

    &__text {
        padding-right: 2rem;
        line-height: 1.8rem;

        @media (max-width: 768px) {
            width: 260%;
            padding-right: 1rem;
        }
    }

    object {
        float: right;
        width: 100vw;
        position: relative;

        @media (max-width: 768px) {
            float: right;
            width: 150vw;
            margin-top: 100%;
        }
    }
}