.precios {

    margin-top: 1rem;
    background-image: url(../img/bg-price.svg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 15rem 0 3rem 0;
    

    &__row {
        margin-left: 15rem;

        @media (max-width: 768px) {
            margin: 1rem 20%;
            display: block;
        }
    }

    &__title {
        margin: 1rem 0;
        color: white;
        text-align: center;
    }

    &__card--item {
        width: 90%;
        height: 70%;
        margin: 2% auto;
        padding: 3rem;
        border: 1px solid $gray;
        background-color: $white;

        @media (max-width: 768px) {
            display: block;
        }
    }

    &__card--item2 {
        width: 90%;
        height: 70%;
        margin: 2% auto;
        padding: 3rem 2rem;
        border: 1px solid $gray;
        background-color: $white;

        @media (max-width: 768px) {
            display: block;

        }
    }

    &__card--title {
        margin: 1.5rem 0;
    }

    &__bullets {
        padding-inline-start: 1rem;
    }

    &__bullets--text {
        line-height: 1.8rem;
    }

    /*&__card--item {
        width: 60%;
        margin: 2% auto;
        padding: 15% 8%;
        border: 1px solid $gray;
    }*/

}

